<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-address-heading" data-cy="AddressCreateUpdateHeading" jhiTranslate="testApp.address.home.createOrEditLabel">
        Create or edit a Address
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testApp.address.country" for="field_country">Country</label>
          <input type="text" class="form-control" name="country" id="field_country" data-cy="country" formControlName="country" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testApp.address.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testApp.address.district" for="field_district">District</label>
          <input type="text" class="form-control" name="district" id="field_district" data-cy="district" formControlName="district" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testApp.address.commune" for="field_commune">Commune</label>
          <input type="text" class="form-control" name="commune" id="field_commune" data-cy="commune" formControlName="commune" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="testApp.address.coordinate" for="field_coordinate">Coordinate</label>
          <input
            type="text"
            class="form-control"
            name="coordinate"
            id="field_coordinate"
            data-cy="coordinate"
            formControlName="coordinate"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
